﻿@model Telzir.FaleMais.Models.CalcularPrecoViewModel
@{
    ViewBag.Title = "Simulação";
    Layout = "~/Views/Shared/_Layout.cshtml";    
}

@section Scripts{

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

}
<div class="page-header">
    <h2>Simulação</h2>
</div>

<div class="container body-content">
   
    @using (Html.BeginForm("Index", "CalcularPreco"))
    {
        <fieldset>
            <div class="form-horizontal">

                <div class="form-group">
                    <span class="control-label col-md-2">DDD Origem</span>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Origem)
                        @Html.ValidationMessageFor(model => model.Origem)
                    </div>
                </div>

                <div class="form-group">
                    <span class="control-label col-md-2">DDD Destino</span>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Destino)
                        @Html.ValidationMessageFor(model => model.Destino)
                    </div>
                </div>

                <div class="form-group">
                    <span class="control-label col-md-2">Minutos</span>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Minuto)
                        @Html.ValidationMessageFor(model => model.Minuto)
                    </div>
                </div>

                <div class="form-group">
                    <span class="control-label col-md-2">Planos</span>
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.Plano, Model.Planos)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Calcular" class="btn btn-success" />
                    </div>
                </div>

            </div>
        </fieldset>
    }

    @{
        if (Model.IsValid)
        {
            <div>
                <div class="panel panel-success" style="float: left; margin:10px">
                    <div class="panel-heading">Valor Com Plano</div>
                    <div class="panel-body">
                        <span>R$@String.Format("{0:n2}", Model.ValorComPlano)</span>
                    </div>
                </div>

                <div class="panel panel-danger" style="float: left; margin:10px">
                    <div class="panel-heading">Valor Sem Plano</div>
                    <div class="panel-body">
                        <span>R$@String.Format("{0:n2}", Model.ValorSemPlano)</span>
                    </div>
                </div>
            </div>
        }
       
    }
</div>

