﻿@model Telzir.FaleMais.Models.HomeViewModel
@{
    ViewBag.Title = "Home";
}

@section Scripts{

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")

}

<div class="jumbotron text-center">
    <p class="lead">Com o FaleMais você economiza e fala sem preocupações.</p>
</div>

<hr />

<div class="row">
    <div class="col-xs-4">
        <h2>
            <span class="glyphicon glyphicon-hand-right"></span>
           Planos
        </h2>
        <ul class="list-group">
            @foreach (var pl in @Model.Planos)
            {
                <li class="list-group-item">
                    @pl.Descricao
                </li>
            }
        </ul>

    </div>

    <div class="col-xs-4">
        <h2>
            <span class="glyphicon glyphicon-hand-right"></span>
            Faça uma simulação e veja o quanto você pode economizar
        </h2>
        <p>
            <a href="@Url.Action("Index", "CalcularPreco")" class="btn btn-success">Simulação</a>
        </p>
    </div>

    <div class="col-xs-4">
        <h2>
            <span class="glyphicon glyphicon-hand-right"></span>
           Tabela De Preços
        </h2>
        <table class="table table-hover">
            <thead>
                <tr>
                    <td>DDD Origem</td>
                    <td>DDD Destino</td>
                    <td>Preços</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var pr in @Model.Precos)
                {
                    <tr>
                        <td>@pr.DDD_Origem</td>
                        <td>@pr.DDD_Destino</td>
                        <td>R$ @pr.ValorPorMinuto</td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>